pandas
numpy
scikit-learn
xgboost
shap
matplotlib
seaborn
joblib
dotenv
pyarrow
fastparquet
tqdm
openpyxl
shapely
ruff
pylint
black
requests
s3fs
loguru
pre-commit
scikit-optimize
setuptools
mlflow
argparse
pytest
catboost
gpboost
PyALE
supertree
bs4
lxml
streamlit>=1.20.0
geopandas
folium
streamlit_folium
polars
-e .
